* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}
.img-yoga {
    display: block;
    margin: 130px auto 122px auto;
}

input {
    width: 321px;
    height: 46px;
    background: #F7F7F7;
    box-shadow: -4px 4px 18px rgb(0 0 0 / 9%);
    border-radius: 10px;
    border: none;
    display: block;
    margin: 0 auto;
}

input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #969696;
    padding-left: 19px;
}

.input-password {
    margin-top: 21px;
}

.forgot-password {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    margin: 15px 530px 38px 0px;
    display: block;
    text-align: right;
}
button {
    display: block;
    margin: 0px auto;
    background: #323232;
    box-shadow: -4px 4px 18px rgb(0 0 0 / 9%);
    border-radius: 10px;
    width: 133px;
    height: 46px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF
}
.link-signup {
    display: block;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 62px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #969696;
}
strong {
    color: #323232;
}
.or-paragraph {
    font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #000000;
}
.container {
    text-align: center;
    margin: 18px auto 80px auto;
}
.link-dots {
    margin: 0px 18px;
}

@media screen and (max-width: 900px){
    .forgot-password{
        margin: 15px 40px 38px 0px;
    }
}